/*Este archivo establece los estilos para todas las pestañas del sitio web. Mantiene una estética uniforme
 en toda la web y define la estructura general de los elementos principales.*/

 /* Con margin y padding eliminamos los márgenes y rellenos por defecto.
Usamos border box para que el ancho y alto incluyan los bordes y el padding
Aplicamos la fuente elegida.*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(28, 58, 45);
}


/*Elegimos un fondo beige claro para tener un página cálida y agradable*/
body {
    background-color: rgb(245, 232, 204);
}

/*Header(encabezado) Elegimos el color y alineamos los elementos horizontalmente*/
header {
    background-color: rgb(28, 58, 45);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
}

/*Logotipo. Se mantiene alineado verticalmente y ocupa el 20% de la altura*/
header .logo {
    height: 20vh;
    display: flex;
    margin: auto;
}

header .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.eslogan {
    width: 70%;
    margin: auto;
}

/*Eslogan centrado, en blanco para destacar sobre el fondo verde oscuro.*/
.eslogan h1 {
    color: whitesmoke;
    width: 100%;
    text-align: center;
    font-size: 5.5vh;
}

/*Alineación de los iconos de redes sociales a la derecha del encabezado*/
.redes {
    padding-right: 2vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.redes ul {
    list-style: none;
    font-size: 5vh;
}

.redes ion-icon {
    color: whitesmoke;
}

.hamburguesa {
    display: none;
    font-size: 4vh;
    cursor: pointer;
    padding: 1vh;
    color: whitesmoke;
}

/*Fondo blanco para el menú, separándolo del encabezado*/
.menu {
    width: 100%;
    background-color: whitesmoke;
}

/*Los enlaces del menú se distribuyen horizontalmente con un espacio de 2vh, manteniendo separación entre ellos*/
.menu ul {
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2vh;
    font-size: 3vh;
}

.menu ul li a {
    text-decoration: none;
}

/*Fondo beige claro para mantener la coherencia con el body
Margen amplio para mejorar la lectura*/
section {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-right: 2px solid;
    border-color: rgb(28, 58, 45);
    margin-right: 2vh;
}

.seccion {
    display: flex;
    flex-direction: row;
    text-align: justify;
}

.imagenSection {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.imagenSection img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.titulo1{
    padding-top: 2vh;
}

.titulo2 {
    padding-top: 2vh;
}

.pieSeccion {
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: rgb(245, 232, 204);
}

.pieSeccion > * {  /*Buscado en internet, para poner que quiero que se aplique a todos los elementos dentro de */
    padding: 2vh;
}

.novedades {
    width: 40%;
    text-align: justify;
    
}

.novedades > * {
    padding: 2vh;
}

.textoNovedades p {
    color: black;
}

.banner {
    width: 35%;
    border: 2px;
    border-radius: 10px;
    margin: auto;
}

.banner img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

aside {
    width: 40%;
    padding: 5vh;
    padding-left: 0;
    margin-top: 2vh;
    text-align: justify;
}

aside > * {
    padding-top: 10vh;
}

.noticias {
    display: flex;

}

.imgNoticias {
    width: 30%;
    border: 2px;
    border-radius: 10px;
    margin-right: 2vh;
}

.imgNoticias img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

/*Se mantiene el fondo verde oscuro que el header para crear un ambiente más visual y estructurado.
Texto blanco para mantener una buena lectura.*/
footer {
    padding: 2vh;
    text-align: center;
    background-color: rgb(28, 58, 45);
    color: whitesmoke;
}

footer p {
    color: whitesmoke;
}

/*Adaptación de ancho fijo de resoluciones de más de 1300px de ancho.*/

@media screen and (min-width: 1301px) {
    body {
        max-width: 100%;
        margin: 0;
    }
}

/*Adaptación optimizada para verse en una tablet en posición vertical.*/
@media screen and (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {

    .contenedor {
        display: flex;
        flex-direction: column;
    }

    header {
        height: auto;
        padding: 2vh;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .logo a {
        text-align: center;
        width: 100%;
    }

    .logo a img {
        width: 30%;
    }

    .eslogan h1 {
        font-size: 4vh;
    }

    .seccion {
        flex-direction: column;
    }

    .pieSeccion {
        flex-direction: column;
    }

    .novedades {
        width: 100%;
    }

    .banner  {
        width: 100%;
    }

    section, aside {
        font-size: 3vh;
        width: 100%;
        margin-right: 0;
        border-right: none;
    }

    aside {
        padding-top: 0;
        margin-top: 0;
    }

    .noticias {
        padding: 0;
    }

    .hamburguesa {
        display: block;
        text-align: center;
        background-color: rgb(28, 58, 45);
        color: white;
        font-size: 2em;
        padding: 1vh;
        cursor: pointer;
    }

    .desplegable {
        position: relative;
        width: 100%;
    }

    .menu {
        display: none;
        width: 100%;
        background-color: whitesmoke;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
    }

    .desplegable:hover .menu {
        display: block;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .menu ul li {
        margin: 1vh 0;
    }

    .menu ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    .redes {
        justify-content: center;
        padding: 1vh;
    }

    .noticias {
        flex-direction: column;
        padding-left: 2vh;
    }

    .imgNoticias {
        width: 100%;
        margin-bottom: 2vh;
    }

    .imgNoticias img {
        width: 20%;
    }
}
/*Adaptación optimizada para verse en una tablet en posición horizontal.*/
@media screen and (min-width: 900px) and (max-width: 1300px) and (orientation: landscape) {
    header {
        height: auto;
        padding: 2vh;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .logo a {
        text-align: center;
        width: 100%;
    }

    .logo a img {
        width: 30%;
    }

    header > * {
        padding-bottom: 2vh;
    }

    .eslogan h1 {
        font-size: 4.5vh;
    }

    .hamburguesa {
        display: block;
        text-align: center;
        background-color: rgb(28, 58, 45);
        color: white;
        font-size: 2em;
        padding: 1vh;
        cursor: pointer;
    }

    .desplegable {
        position: relative;
        width: 100%;
    }

    .menu {
        display: none;
        width: 100%;
        background-color: whitesmoke;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
    }

    .desplegable:hover .menu {
        display: block;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .menu ul li {
        margin: 1vh 0;
    }

    .menu ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    section {
        width: 65%;
    }

    section img {
        padding: 0;
    }

    aside {
        width: 35%;
    }
}

/*Adaptación optimizada para verse en un teléfono posición vertical.*/
@media screen and (max-width: 599px) and (orientation: portrait) {
    header {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    header > * {
        padding-bottom: 2vh;
    }

    .logo, .redes {
        justify-content: center;
    }

    .redes {
        padding: 0;
    }

    .eslogan {
        width: 90%;
    }

    .eslogan h1 {
        font-size: 3vh;
    }

    .hamburguesa {
        display: block;
        text-align: center;
        background-color: rgb(28, 58, 45);
        color: white;
        font-size: 2em;
        padding: 1vh;
        cursor: pointer;
    }

    .desplegable {
        position: relative;
        width: 100%;
    }

    .menu {
        display: none;
        width: 100%;
        background-color: whitesmoke;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
    }

    .desplegable:hover .menu {
        display: block;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .menu ul li {
        margin: 1vh 0;
    }

    .menu ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    .seccion {
        flex-direction: column;
    }

    .seccion img {
        padding: 0;
    }

    section, aside {
        width: 100%;
        border-right: none;
        padding: 2vh;
        margin-right: 0;
    }

    .pieSeccion {
        flex-direction: column;
    }

    .novedades {
        width: 100%;
    }

    .noticias {
        padding: 0;
        flex-direction: column;
    }

    .imgNoticias {
        width: 100%;
        margin-bottom: 2vh;
    }

    .imgNoticias img {
        width: 20%;
    }

    .banner {
        width: 90%;
    }
}

/*Adaptación optimizada para verse en un teléfono posición horizontal.*/
@media screen and (max-width: 899px) and (orientation: landscape) {
    header {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    header > * {
        padding-bottom: 2vh;
    }
    
    .logo, .redes {
        justify-content: center;
    }
    
    .redes {
        padding: 0;
    }

    .eslogan {
        width: 90%;
    }

    .eslogan h1 {
        font-size: 3vh;
    }

    .hamburguesa {
        display: block;
        text-align: center;
        background-color: rgb(28, 58, 45);
        color: white;
        font-size: 2em;
        padding: 1vh;
        cursor: pointer;
    }

    .desplegable {
        position: relative;
        width: 100%;
    }

    .menu {
        display: none;
        width: 100%;
        background-color: whitesmoke;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
    }

    .desplegable:hover .menu {
        display: block;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .menu ul li {
        margin: 1vh 0;
    }

    .menu ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    .seccion {
        flex-direction: column;
    }

    .imagenSection {
        width: 80%;
        margin: auto;
        margin-bottom: 4vh;
    }

    .imagenSection img {
        padding: 0;
    }

    section, aside {
        width: 100%;
        margin-right: 0;
        border-right: none;
    }

    .noticias {
        flex-direction: column;
        padding-left: 2vh;
    }

    .imgNoticias {
        width: 20%;
        margin-bottom: 2vh;
    }

    .imgNoticias img {
        width: 20%;
    }

    .banner {
        width: 50%;
    }
}