/*Eliminamos márgenes y paddings predeterminados*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*Fondo beige claro para el body*/
body {
    background-color: rgb(245, 232, 204);
}

/*Uso de flex para organizar los elementos y centramos verticalmente el contenido*/
header {
    background-color: rgb(28, 58, 45);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15vh;
    align-items: center;
}

/*Logo ubicado en el lado izquierdo*/
header .logo {
    height: 15vh;
    display: flex;
    margin-left: 6vh;
}

/*Ajusta el logo al c100% del contenedor y mantiene la proporción original*/
header .logo img {
    height: 100%;
    object-fit: contain;
}

/*Título de la sección*/
.titulo {
    width: 75%;
    margin: auto;
    margin-left: 0;
}

/*Tamaño del título adaptativo y color blanco para fácil legilivilidad*/
.titulo h1 {
    color: whitesmoke;
    width: 100%;
    text-align: center;
    font-size: 5.5vh;
}
/*Redes sociales alineadas a la derecha*/
.redes {
    padding-right: 2vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*Tamaño grande para iconos*/
.redes ul {
    list-style: none;
    font-size: 5vh;
}

/*Color blanco para destacar en el fondo oscuro*/
.redes ion-icon {
    color: whitesmoke;
}

/*Icono de menú hamburguesa, solo visible para dispositivos pequeños o minimización de la pantalla*/
.hamburguesa {
    display: none;
    font-size: 4vh;
    cursor: pointer;
    padding: 1vh;
    color: whitesmoke;
}

.menu {
    width: 100%;
    background-color: whitesmoke;
}

/*Espacio entre los enlaces y tamaño del texto*/
.menu ul {
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2vh;
    font-size: 3vh;
}

/*Sin subrayado y verde oscuro*/
.menu ul li a {
    text-decoration: none;
    color: rgb(28, 58, 45);
}

/*Fondo verde oscuro, texto en blanco, espacio superior e inferior, bordes redondeados y sombra*/
section {
    background-color: rgba(28, 58, 45);
    color: whitesmoke;
    margin: auto;
    margin-bottom: 5vw;
    margin-top: 5vw;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    width: 70vw;
}

/*Tamaño adaptativo, texto justificado y espaciado entre lineas*/
section p {
    font-size: 1.5vw;
    font-family: sans-serif;
    text-align: justify;      
    width: 100%;              
    line-height: 1.4;
    padding-bottom: 2vw; 
}

footer {
    padding: 2vh;
    text-align: center;
    background-color: rgb(28, 58, 45);
    color: whitesmoke;
}

footer p {
    color: whitesmoke;
}

/*Adaptación de ancho fijo de resoluciones de más de 1300px de ancho.*/
@media screen and (min-width: 1301px) {
    body {
        max-width: 100%;
        margin: 0;
    }
}

/*Adaptación optimizada para verse en una tablet en posición vertical.*/

@media screen and (min-width: 600px) and (max-width: 899px) and (orientation: portrait) {
    /*Ajuste automático de la altura*/
    header {
        height: auto;
        padding: 2vh;
        flex-direction: column;
        align-items: center;
    }

    header .logo {
        justify-content: center;
        width: 100%;
        margin-left: 0;
        margin-bottom: 2vh;
    }

    .titulo {
        width: 100%;
    }

    .titulo h1 {
        font-size: 4vh;
        text-align: center;
    }
    
    /*Sección más estrecha*/
    section {
        width: 90%;
    }
    
    /*Aumenta el tamaño del texto*/
    section p {
        font-size: 3vh;
    }
    /*Icono hamburguesa en bloque*/
    .hamburguesa {
        display: block;
        background-color: rgb(28, 58, 45);
        text-align: center;
    }

    .desplegable {
        position: relative;
        width: 100%;
    }
    
    /*Menú oculto por defecto*/
    .menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: whitesmoke;
        z-index: 10;
    }
    /*Menú desplegable al hacer hover*/
    .desplegable:hover .menu {
        display: block;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu ul li {
        margin: 1vh 0;
    }

    .redes {
        justify-content: center;
        padding: 1vh;
    }
}

/*Adaptación optimizada para verse en una tablet en posición horizontal.*/
@media screen and (min-width: 900px) and (max-width: 1300px) and (orientation: landscape) {
    
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    header .logo {
        justify-content: center;
        width: 100%;
        margin-left: 0;
        margin-bottom: 2vh;
    }
    
    .titulo {
        width: 100%;
    }

    .titulo h1 {
        font-size: 4vh;
        text-align: center;
        margin-bottom: 2vh;
    }

    .redes {
        padding: 0;
    }

    .hamburguesa {
        display: block;
        background-color: rgb(28, 58, 45);
        text-align: center;
    }

    .desplegable {
        position: relative;
        width: 100%;
    }

    .menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: whitesmoke;
        z-index: 10;
    }

    .desplegable:hover .menu {
        display: block;
    }
    
    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu ul li {
        margin: 1vh 0;
    }

    section {
        width: 85%;
    }
}

/*Adaptación optimizada para verse en un teléfono posición vertical.*/
@media screen and (max-width: 599px) and (orientation: portrait) {
    header {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .logo, .redes {
        justify-content: center;
    }

    .logo img {
        width: 40%;
    }

    .titulo h1 {
        font-size: 3vh;
    }

    section {
        width: 95%;
        font-size: 2.5vh;
    }

    .hamburguesa {
        display: block;
        background-color: rgb(28, 58, 45);
        text-align: center;
    }

    .desplegable {
        position: relative;
        width: 100%;
    }

    .menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: whitesmoke;
        z-index: 10;
    }

    .desplegable:hover .menu {
        display: block;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu ul li {
        margin: 1vh 0;
    }
}

/*Adaptación optimizada para verse en un teléfono posición horizontal.*/
@media screen and (max-width: 899px) and (orientation: landscape) {
    header {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .logo, .redes {
        justify-content: center;
    }

    .logo img {
        width: 30%;
    }

    .titulo h1 {
        font-size: 3vh;
    }

    section {
        width: 90%;
    }

    .hamburguesa {
        display: block;
        background-color: rgb(28, 58, 45);
        text-align: center;
    }

    .desplegable {
        position: relative;
        width: 100%;
    }

    .menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: whitesmoke;
        z-index: 10;
    }

    .desplegable:hover .menu {
        display: block;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu ul li {
        margin: 1vh 0;
    }
}