* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: rgb(245, 232, 204);
}

header {
    background-color: rgb(28, 58, 45);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15vh;
}

header .logo {
    height: 15vh;
    display: flex;
    margin-left: 6vh;
}

header .logo img {
    height: 100%;
    object-fit: contain;
}

.titulo {
    width: 75%;
    margin: auto;
    margin-left: 0;
}

.titulo h1 {
    color: whitesmoke;
    width: 100%;
    text-align: center;
    font-size: 5.5vh;
}

.redes {
    padding-right: 2vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.redes ul {
    list-style: none;
    font-size: 5vh;
}

.redes ion-icon {
    color: whitesmoke;
}

.menu {
    width: 100%;
    background-color: whitesmoke;
}

.menu ul {
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2vh;
    font-size: 3vh;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(28, 58, 45);
}

section {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/*Se limita el ancho del formulario para evitar que se expanda demasiado y se mantenga centrado
Fondo blanco y sombra más pronunciada para destacar el formulario del resto del contenido*/
form {
    background-color: whitesmoke;
    max-width: 50%;
    margin: auto;
    padding: 2vh;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.449);
  }
  
  h2 {
    text-align: center;
    color: rgb(28, 58, 45);
    margin-bottom: 2vh;
  }
  
  fieldset {
    border: 1px solid rgb(28, 58, 45);
    border-radius: 10px;
    padding: 2vh;
    margin-bottom: 2vh;
  }
  
  legend {
    font-weight: bold;
    color: rgb(28, 58, 45);
  }
  
  label {
    display: block;
    margin-top: 2vh;
  }
  
  
  /*Todos los imputs y selects ocupan el ancho completo del formulario para mantener su alineación.
  Bordes redondeados y color verde oscuro para mantener la coherencia.*/
  input,
  select,
  textarea {
    width: 100%;
    padding: 2vh;
    margin-top: 2vh;
    border-radius: 6px;
    border: 1px solid rgb(28, 58, 45);
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  /*Botón de envío estilizado con el mismo verde del header y footer, para mantener la coherencia visual*/
  button {
    background-color: rgb(28, 58, 45);
    color: whitesmoke;
    padding: 14px 24px;
    font-size: 2vh;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: rgb(28, 58, 45);
  }

footer {
    padding: 2vh;
    text-align: center;
    background-color: rgb(28, 58, 45);
    color: whitesmoke;
}

footer p {
    color: whitesmoke;
}